.separation {
    width: 100%;
    height: 70px;
    background: url('../img/separation.png');
}
.separationyellow {
    width: 100%;
    height: 70px;
    background: url('../img/separationyellow.png')
}